// img swiper
.goods-thumb-swiper {
  position: relative;
  .swiper {
    width: 50%;
    height: 100%;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  // swiper button
  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 1;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;
    transition: 0.9s;
  }
  .swiper-button-next {
    right: 0;
    top: 350px;
  }

  .swiper-button-prev {
    left: 0;
    top: 350px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-prev::before {
    background-color: $gray-80;
    content: "\f104";
  }
  .swiper-button-next::before {
    background-color: $gray-80;
    content: "\f105";
  }

  .swiper-button-disabled {
    display: none;
  }
  .swiper-button-next::before,
  .swiper-button-prev::before {
    @include lineAwesome;
    font-size: 3rem;
    color: $white;
    opacity: 0.6;
    padding: 0 10px;
  }
  .swiper-slide-thumb-active {
    border: 1px solid $black;
  }
}

// common pagination property
.swiper-pagination__custom {
  position: absolute;
  top: 700px;
  left: 500px;
  background-color: hsla(0, 0%, 7%, 0.4);
  border-radius: 12px;
  font-size: 12px;
  padding: 4px 4px;
  height: 30px;
  width: auto;
  color: $white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  * {
    padding: 5px;
  }
}

.swiper-pagination-current {
  font-weight: bold;
}

// swiper__container
.goods-thumb-container {
  position: relative;
  margin-top: 35px;
  height: 143px;
  width: 100%;
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 1;
    }
  }

  // swiper button
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: 0.9s;
  }
  .swiper-button-next {
    right: 0;
    top: 70px;
  }

  .swiper-button-prev {
    left: 0;
    top: 70px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-prev::before {
    background-color: $gray-80;
    content: "\f104";
  }
  .swiper-button-next::before {
    background-color: $gray-80;
    content: "\f105";
  }
  .swiper-button-disabled {
    display: none;
  }
  .swiper-button-next::before,
  .swiper-button-prev::before {
    @include lineAwesome;
    font-size: 2rem;
    color: $white;
    opacity: 0.6;
    padding: 0 5px;
  }
  .swiper-slide-thumb-active {
    border: 1px solid $black;
  }
}
.goods-detail {
  .goods-price__value {
    font-size: 32px;
    display: inline-block;
    font-weight: 700;
    padding-top: 2px;
  }
  .goods-price__won {
    font-size: 28px;
    display: inline-block;
    font-weight: 700;
  }
}
.goods-tit {
  font-size: 24px;
  margin: 12px 0 0;
}
.guide-benefit {
  margin-top: 32px;
  position: relative;
  .guide__tit {
    line-height: 21px;
    margin: 0;
    text-align: left;
    font-size: 18px;
    font-weight: 700;
    display: flex;
  }
  .el-collapse {
    border-top: 0;
    margin: 0;
  }
  .el-collapse-item {
    .acco-tit {
      font-size: 16px;
      padding: 16px 0;
      display: flex;
      align-items: center;
    }

    .ico-wrap {
      margin-right: 16px;
      height: 20px;
      width: 20px;
    }
  }
  .event1 {
    color: #067dfd;
    display: flex;
    .el-collapse-item__arrow {
      box-sizing: border-box;
      font-size: 20px;
    }
  }
  .el-collapse-item__content {
    background-color: #f7f8f9;
    border-bottom: 0;
    border-top: 1px solid #f7f8f9;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .el-tabs__nav is-to {
    transform: translateX(0px);
    .el-tabs__active-bar is-top {
      width: 318px;
    }
  }
}
.editor-area {
  margin: 40px auto 0;
  width: 750px;
  text-align: center;
  border: 0;
}
.tab-wrap {
  width: 100%;
  .el-tabs__header {
    margin-bottom: 0;
  }
  .el-tabs {
    .el-tabs__nav {
      align-items: center;
      border-bottom: 1px solid #28323c;
      display: flex;
      justify-content: space-between;
      width: 100%;
      transform: translateX(0px);
      float: left;
      position: relative;
      transition: transform 3s;
      white-space: nowrap;
      z-index: 2;
    }
    .el-tabs__active-bar {
      display: block;
      height: 3px;
      background-color: #d70011;
    }
  }
}
.detail-tab {
  background: $white;
  position: sticky;
  top: 0;
  z-index: 999;
  .report-area {
    margin: 40px auto 0;
    width: 750px;
  }
}

.el-tabs__header {
  margin: 0 0 15px;
  padding: 0;
  position: relative;
}
.el-tabs__nav-wrap {
  margin-bottom: -1px;
  overflow: hidden;
  position: relative;
}
.el-tabs__nav-scroll {
  overflow: hidden;
}
.el-tabs__active-bar is-top {
  width: 318px;
  transform: translateX(0px);
}
// 상품 리뷰란 css
.tab-cont info {
  margin: 8px 16px 0;
}
.in-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 16px;
  .tab-cont-info {
    background-color: $white;
    height: auto;
    margin: 0;
    position: relative;
  }
}
.tit-area {
  color: #28323c;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1;
  align-items: center;
  display: flex;
  background-color: $white;
  .tit-h2 {
    font-size: 1.4rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin: 0;
  }
}
