// 그리드
.inner {
  width: 100%;
  max-width: $grid;
  height: 100%;
  // content를 1280px로 만들기 위함
  padding: 0;
  margin: 0 auto;
  display: flex;

  @include tabletMore {
    padding: 0;
  }
}

.goods-thumb-wrap {
  width: 570px;
  height: 100%;
}
