// 그리드
.inner {
    width: 100%;
    height: 100%;
    padding: 0 $p-tablet;
    margin: 0 auto;
}

.content-section {
    height: 100%;
    // width: 100%;
    min-width: 1280px;
}

.page-tit-area {
    width: 100%;
    height: 100%;
    display: flex;
}

.goods-thumb-wrap {
    width: 570px;
    height: 100%;
}

.goods-detail {
    width: calc(100% - 570px);
    padding-left: 80px;
}
